body{
    background-color: rgb(69, 64, 64);
    font-family: 'Kanit', sans-serif;
    color: white;
}

.loader{
    height: 500px;
    width: 500px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1)100%);
    animation: spin .8s linear 0s 2;
}

.loader-core{
    height: 500px;
    width: 500px;
    background: rgb(69, 64, 64);
    border-radius: 50%;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}